// ?GENERICS
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1400px;
    margin: 0 auto;
}
img {
    max-width: 100%;
}
body {
    font-family: "Lato", sans-serif;
    @import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300&family=Montserrat:wght@100&family=Open+Sans:wght@400;600;800&family=Roboto:wght@300&family=Rubik+Mono+One&display=swap");
}
// header
header {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 150px;
    figure,
    nav {
        margin: 0;
        text-align: center;
    }
    ul {
        display: flex;
        justify-content: space-between;
        li {
            list-style: none;
            text-decoration: none;
            padding: 10px;
            font-weight: bolder;
        }
    }
}
#jumbo {
    min-height: 400px;
    background-image: url("../images/jumbotron.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}
// main
main {
    #content {
        background-color: #1c1c1c;
        padding: 0px 0 50px 0;
        h2 {
            color: white;
        }
    }
    .main-content {
        position: relative;
    }
    #current {
        position: absolute;
        top: 30%;
        left: 12%;
        background-color: #0282f9;
        color: white;
        padding: 20px 10px 20px 10px;
        font-size: 25px;
        width: 250px;
        text-align: center;
        font-weight: 600;
    }
    #cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .card-game {
            width: calc(100% / 6);
            list-style: none;
            color: white;
            margin-top: 60px;
            p {
                padding-top: 10px;
                font-size: 15px;
                word-wrap: break-word;
            }
        }
    }
    .card-game img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        object-position: -100% 0;
    }
    #load-button {
        padding-top: 20px;
        display: flex;
        justify-content: center;
        button {
            background-color: #0282f9;
            color: white;
            padding: 10px 5px 10px 5px;
            border: 0;
            width: 200px;
        }
    }
    #main-footer-container {
        background-color: #0282f9;
        #figures {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        figure {
            margin: 0;
            display: flex;
            align-items: center;
            align-items: center;
            color: white;
            padding: 30px 0 30px 0;

            img {
                max-width: 50px;
                padding-right: 10px;
            }
        }
    }
}
// footer
footer {
    .bg-section {
        background-image: url("../images/footer-bg.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    #links {
        padding: 10px 0 10px 0;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        ul {
            width: calc(100% / 3);
        }
        h3 {
            color: white;
        }
    }

    .list-item {
        color: white;
        font-size: 20px;
        padding: 10px 0 10px 0;
    }
    li {
        list-style: none;
        color: gray;
        padding-right: 20px;
    }
    #dc-img {
        background-image: url("../images/dc-logo-bg.png");
        background-position: center;
        display: flex;
        min-width: 562px;
    }
    #shop {
        padding: 10px 0 10px 0;
        display: inline;
    }
}
#footer-bottom {
    display: flex;
    justify-content: space-between;
    #socials {
        padding: 30px 0 30px 0;
        background-color: #303030;
        flex-basis: 100%;
        height: 100px;
        button {
            background-color: #303030;
            border: 2px solid #0282f9;
            padding: 20px;
            color: white;
            text-align: center;
            line-height: 5px;
        }
    }
}
span {
    display: flex;
    align-items: center;
    p {
        color: #0282f9;
        padding-right: 10px;
        font-size: 20px;
        font-weight: 800;
    }
    img {
        padding-right: 10px;
    }
}
